/**** Fonts ****/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
body {
  font-family: 'Raleway', sans-serif;
}

/**** Colors ****/
$primary: #365f7d;
$primary-dark: #184879;
$primary-light: #6a92cd;

.custom-text-primary {
  color: $primary;
}

.btn-primary-light {
  background-color: $primary-light;

  &:hover, &:focus, &:active {
    background-color: $primary !important;
  }
}
.btn.btn-outline-primary {
  border-color: $primary-light;
  color: $primary-light;

  &:hover {
    border-color: $primary-light;
    background-color: $primary-light;
    color: #ffffff;
  }
}

/**** Navigation ****/
.navbar-custom {
  background-color: $primary;
  
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #ffffff;
        font-size: 1.1rem;
        padding-left: .75rem;
        padding-right: .75rem;
      }
    }
  }
}

/**** Marketing ****/
.marketing-bg {
  background-image: linear-gradient(to right, #6c707c , #8f92a1);
  background-color: #6c707c;
}


/**** Service Block ****/
.service-block {
  border-bottom: 3px solid $primary-light;
  margin-bottom: 1rem;
}


/**** Quotes ****/
.quotes-bg {
  background-color: $primary;
}


/**** Footer ****/
.footer-custom {
  background-color: $primary-dark;
}
.footer-copyright {
  background-color: #6c92ca;
  margin-top: 2px;
}